/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}

main :first-child{
	background-color: black;
	color: white;
}
main :nth-child(2){
	color: black;
}
main :last-child{
	color: red;
}

li{
	background-color: gray;
	width: 50%;
	padding: 10px;
}
#li1, #li3, #li5{
	background-color: white;
}
#li1, #li5{
	font-size: 22px;
}
#li3{
	background-color: pink;
}

